<ion-content>
  <ion-back-button icon="chevron-back-outline" text="" class="back-btn back-btn-custom"></ion-back-button>
  <ion-label class="text-title">
    Tiểu Sử
  </ion-label>
  <ion-item-group class="home">
    <ion-item-group class="content-search">
      <ion-icon (click)="openModalMenu()" class="icon-bars" name="menu-outline"></ion-icon>
      <ion-searchbar #searchBar mode="ios" placeholder="Tìm kiếm" [ngClass]="{'visible-search-bar': !hiddenSearchBar}"
      (ionBlur)="toggleHideSearchBar(true)" (click)="$event.stopPropagation();">
    </ion-searchbar>
    <ion-icon *ngIf="hiddenSearchBar" name="search-outline" class="search-icon" (click)="toggleHideSearchBar(false)">
      </ion-icon>
    </ion-item-group>
    <ion-item-group class="list-item">
      <ion-item-group *ngFor='let in of counter(5)' class="item-stories" (click)="gotoDetail()">
        <img src="assets/img/stories/anh1.svg" alt="">
        <ion-item-group class="stories-info">
          <ion-label text-wrap class="stories-title">FRANCISCUS, S.J.
            Giáo hoàng Phanxicô</ion-label>
          <p class="stories-content three-dots-5">
            - Lên ngôi ngày 13 tháng 3
            năm 2013 đến nay.
            - Người Mỹ La Tinh, Nam Mỹ,
            Argentina và tu sĩ Dòng Tên
            đầu tiên làm Giáo hoàng ... </p>
        </ion-item-group>

      </ion-item-group>
    </ion-item-group>
  </ion-item-group>

</ion-content>