ion-content {
    --padding-top: 80px;
    
    .calendar {
        height: 425px;
        @media screen and (max-height: 569px) {
                height: 310px;
            }
    }
    .title-calendar {
        width: 100%;
        height: 50px;
        // margin-top: 55px;
        position: relative;

        .titleMonth {
            color: #424242;
            top: 100px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            font-size: 20px;
            line-height: 50px;
        }
        .icon-filler {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            color: #424242;
        }
        .button-slide {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 20px;
        }
        .button-left {
            left: 60px;
            @media screen and (max-height: 569px) {
                left: 45px;
            }
        }
        .button-right {
            right: 45px;
        }
    }
    .calendar {
        overflow: hidden;
    }
    .calendar-month {
        width: 100vw;
        height: 380px;
        border-top: 5px solid #c8c8c8;
        background-image: url("../../../assets/img/calendar/giadinhthanhgia.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        opacity: 0.6;

        .backdop-calendar-month {
            background: #ffffff;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            overflow: scroll;
        }
        .solemnity {
            position: absolute;
            top: 0;
            left: 0;
            
            .title-solemnity {
                text-transform: uppercase;
                font-size: 18px;
                color: #cc9d3e;
                padding: 15px;
                padding-bottom: 0;
                margin: 0;
            }
            .list-solemnity {
                padding-left: 15px;
                p {
                    margin: 0;
                    font-size: 16px;
                    color: #424242;
                    font-weight: 600;
                }
                .solemnity-item {
                    display: flex;
                    margin-top: 20px;

                    .solemnity-date {
                    }
                    .solemnity-text {
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

// :host::ng-deep .monthview-selected{
//     background: red!important;
// }
// :host::ng-deep .monthview-primary-with-event{
//     background:transparent!important;
//     color: #DE0093!important;
// }
:host ::ng-deep .list-ios {
    display: none !important;
}
.event-detail-container {
    display: none !important;
}


