<ion-header class="ion-no-border">
  <ion-buttons class="header-option">
    <ion-icon size="large" mode="ios" name="list-circle-outline" class="active-effect" (click)="questionSetting()"></ion-icon>
    <ion-icon *ngIf="musicType == true" size="large" name="volume-high" class="active-effect" (click)="setMusicType()"></ion-icon>
    <ion-icon *ngIf="musicType == false" size="large" name="volume-mute" class="active-effect" (click)="setMusicType()"></ion-icon>
  </ion-buttons>
  <ion-buttons class="header-notify">
    <ion-buttons class="heart" lines="none">
      <ion-icon size="large" name="heart-circle-outline"></ion-icon>
      <ion-label>{{ heart }}</ion-label>
    </ion-buttons>
    <ion-buttons class="middle" lines="none">
      <ion-col>
        <ion-row>
          <ion-label class="question-type">{{ questionTypeName }}</ion-label>
        </ion-row>
        <ion-label class="question-counter">{{ questionCounter+1 }}/10 câu</ion-label>
    </ion-col>
    </ion-buttons>
    <ion-icon class="rule active-effect" size="large" name="help-circle-outline"></ion-icon>
  </ion-buttons>
  <ion-buttons class="time-and-score">
    <ion-label>Điểm: {{score}}</ion-label>
    <ion-buttons>
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>{{ timer }}s</ion-label>
    </ion-buttons>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-buttons class="question-cover">
    <ion-label class="question">{{ questions.questions[questionCounter].question }}</ion-label>
  </ion-buttons>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button mode="ios" class="answer active-effect" id="answer" shape="round" Fill="outline"
        (click)="btnActivate($event)" 
        (click) = "checkAnswerValue(questions.questions[questionCounter].answer.a)"
        (click) = "checkAnswerKey(questions.questions[questionCounter].answer, answerValue)">{{ questions.questions[questionCounter].answer.a }}
        </ion-button>

        <ion-button mode="ios" class="answer active-effect" id="answer" shape="round" Fill="outline"
        (click)="btnActivate($event)" 
        (click) = "checkAnswerValue(questions.questions[questionCounter].answer.b)"
        (click) = "checkAnswerKey(questions.questions[questionCounter].answer, answerValue)">{{ questions.questions[questionCounter].answer.b }}
        </ion-button>

        <ion-button mode="ios" class="answer active-effect" id="answer" shape="round" Fill="outline"
        (click)="btnActivate($event)" 
        (click) = "checkAnswerValue(questions.questions[questionCounter].answer.c)"
        (click) = "checkAnswerKey(questions.questions[questionCounter].answer, answerValue)">{{ questions.questions[questionCounter].answer.c }}
        </ion-button>

        <ion-button mode="ios" class="answer active-effect" id="answer" shape="round" Fill="outline"
        (click)="btnActivate($event)" 
        (click) = "checkAnswerValue(questions.questions[questionCounter].answer.d)"
        (click) = "checkAnswerKey(questions.questions[questionCounter].answer, answerValue)">{{ questions.questions[questionCounter].answer.d }}
        </ion-button>

        <ion-button mode="ios" class="confirm-btn active-effect" id="confirm" [disabled]="answerValue==''"
        (click)="btnConfirm()" (click)="btnActivate($event)">Đồng ý</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
