<ion-header no-border class="ion-no-border">
  <ion-toolbar>
    <ion-title>(Tổng) Giáo phận</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group class="home">
    <ion-searchbar showCancelButton="never" placeholder="Tên Giáo Phận cần tìm ..." debounce="500"></ion-searchbar>
    <ion-item-group class="list-item">
      <ion-item-group class="group-item">
        <ion-img src="assets/img/tonggiaophan/vatican.svg" alt=""></ion-img>
        <ion-label class="text-label">
          Tin tức
          <br>
          Tòa Thánh Vatican
        </ion-label>
      </ion-item-group>
      <ion-item-group class="group-item">
        <ion-img src="assets/img/tonggiaophan/hanoi.svg" alt=""></ion-img>
        <ion-label class="text-label">
          Tổng Giáo Phận
          <br>
          Hà Nội
        </ion-label>
      </ion-item-group>
      <ion-item-group class="group-item">
        <ion-img src="assets/img/tonggiaophan/hue.svg" alt=""></ion-img>
        <ion-label class="text-label">
          Tổng Giáo Phận
          <br>
          Huê
        </ion-label>
      </ion-item-group>
      <ion-item-group class="group-item">
        <ion-img src="assets/img/tonggiaophan/saigon.svg" alt=""></ion-img>
        <ion-label class="text-label">
          Tổng Giáo Phận
          <br>
          Sài Gòn
        </ion-label>
      </ion-item-group>
    </ion-item-group>
   
  </ion-item-group>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer>