<ion-header>
  <app-header [title]="title"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <app-search-bar-nav></app-search-bar-nav>

  <ion-item-group class="list-item">
    <ion-item-group class="group-item" (click)="checkoutVatican()">
      <ion-img src="assets/img/tonggiaophan/vatican.svg" alt=""></ion-img>
      <ion-label class="text-label absolute-center">
        Tin tức
        <br>
        Tòa Thánh Vatican
      </ion-label>
    </ion-item-group>
    <ion-item-group class="group-item">
      <ion-img src="assets/img/tonggiaophan/hanoi.svg" alt=""></ion-img>
      <ion-label class="text-label absolute-center">
        Tổng Giáo Phận
        <br>
        Hà Nội
      </ion-label>
    </ion-item-group>
    <ion-item-group class="group-item">
      <ion-img src="assets/img/tonggiaophan/hue.svg" alt=""></ion-img>
      <ion-label class="text-label absolute-center">
        Tổng Giáo Phận
        <br>
        Huê
      </ion-label>
    </ion-item-group>
    <ion-item-group class="group-item">
      <ion-img src="assets/img/tonggiaophan/saigon.svg" alt=""></ion-img>
      <ion-label class="text-label absolute-center">
        Tổng Giáo Phận
        <br>
        Sài Gòn
      </ion-label>
    </ion-item-group>
  </ion-item-group>
</ion-content>