.calendar-main {
    width: 100%;
    height: 100%;
    .title-calendar {
        position: relative;
        p {
            font-size: 25px;
            text-align: center;
            margin: 0;
        }
        .icon-filler {
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            
        }
        .button-slide {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 20px;
        }
        .button-left {
            left: 60px;
            @media screen and (max-height: 569px) {
                left: 45px;
            }
        }
        .button-right {
            right: 55px;
        }
    }
    .calendar-content {
        margin-top: 10px;
        .days-of-weeks {
            border-bottom: 3px solid #f2f2f2;
            margin-bottom: 5px;
            .list-days-week {
                // border-bottom: 3px solid #f2f2f2;
                .day-week {
                    flex-basis: calc(100% / 7);

                    text-align: center;
                    font-size: 14px;
                    color: #828282;
                }
            }
        }
        .days-of-month {
            .list-days {
                flex-wrap: wrap;
                .days {
                    flex-basis: calc(100% / 7);
                    height: 58px;
                    color: #424242;
                    position: relative;
                    padding: 6px;
                    border: 1px solid #f2f2f2;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: left;
                    .duong-lich {
                        font-size: 16px;
                        text-align: left;
                    }
                    .am-lich {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        font-size: 14px;
                        color: #828282;
                    }
                }
            }
        }
    }
}
.modal-filter {
    position: absolute;
    right: 10px;
    z-index: 1000;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px;

    .text-filter {
        font-size: 15px;
        font-weight: 400;
        padding: 10px;
    }
}
ion-slides{
    margin: 10px 20px;
}
.otherMonth{
 
    span{
        color: #d0d0d0!important;
    }
}