<ion-content>
  <div class="calendar-main">
    <div class="title-calendar">
      <p>Tháng {{currentMonth}} . {{currentYear}}</p>
      <ion-icon (click)="toggleFillerClick()" class="icon-filler" name="options"></ion-icon>
      <div (click)="toggleFillerClick()" class="modal-filter" *ngIf="toggleFiller">
        <ion-label class="text-filter">Xem theo ngày</ion-label>
        <ion-label class="text-filter">Xem theo tháng</ion-label>
      </div>
      <ion-icon class="button-slide button-left" (click)="PrewMonth()" name="chevron-back-outline"></ion-icon>
      <ion-icon class="button-slide button-right" (click)="nextMonth()" name="chevron-forward-outline"></ion-icon>
    </div>
    <ion-slides (ionSlideNextStart)="ionSlideNextEnd()" (ionSlidePrevStart)="ionSlidePrevEnd()" [options]="slideOpts">


      <ion-slide *ngFor="let n of numSequence(coutnCalendar)">
        <ion-item-group class="calendar-content">
          <ion-item-group class="days-of-weeks">
            <ion-buttons class="list-days-week">
              <span class="day-week" *ngFor="let item of dayWeeks">
                {{item.valueView}}
              </span>
            </ion-buttons>

          </ion-item-group>
          <ion-item-group class="days-of-month">
            <ion-buttons class="list-days">
              <ion-item-group (click)="gotoDetail(days)" class="days" *ngFor="let days of dayOfMonth">
                <span *ngIf="days!=0" class="duong-lich">
                  {{days}}
                </span>
                <span *ngIf="days!=0" class="am-lich">
                  {{days}}
                </span>
              </ion-item-group>
            </ion-buttons>
          </ion-item-group>
        </ion-item-group>
      </ion-slide>
    </ion-slides>


  </div>
</ion-content>