$size-img:100px;
.header-md::after {
  background-image: none;
}
.main__avatar {
  position: absolute;
  right: 12px;
  width: 104px;
  top: 22vh;
  @media screen and (max-height: 737px) {
    top: 13vh;
  }
  text-align: center;
  z-index: 12;
  height: 97px;
  .icon-avatar {
    width: 60px;
    height: 60px;
    color: white;
    background: #fdfdfd;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    // @media screen and (max-height: 481px) {
    //   height: 45px!important;
    //   width: 45px!important;
    // }
    // .name-user {
    //   margin: auto;
    //   line-clamp: 2;
    //   @media screen and (max-height: 481px) {
    //     transform: translateY(150%)!important;
    //   }
    // }
  }

}
ion-content {
  position: absolute;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  top: 26vh;
  z-index: 10;
  background-color: #E5E5E5;
  --background: none;
  --overflow: scroll;
  @media screen and (max-height: 737px) {
    top: 17vh;
  }
  @media screen and (max-height: 668px) {
    top: 17vh;
  }
  .backgroup-header {
    position: relative;
    z-index: 5;
    .img-bg {
      width: 100%;
    }
  }
  .vatican__title {
    display: block;
    padding-top: 9px ;
    margin: 16px;
    border-top: 1px solid #ccc;
    color: #424242;
  }
  .home {
    padding: 0 5px;
    box-shadow: 0 4px 2px -2px #dcd9d9;
    border-radius: 40px;
    background-color: var(--white-color);
   
    .container-tong-gp {
      padding-top: 3vh;
      @media screen and (max-height: 737px) {
        padding-top: 3vh;
       }
      display: flex;
      justify-content: center;
      align-items: center;
      .menu-top {
        text-align: center;
        .bg-icon {
          width: 60px;
          height: 60px;
          border-radius: 20px;
          margin: 0 auto;
          color: var( --title-color);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--second-color);
        }
        // img{
           
        //   @media screen and (max-height: 569px) {
        //     $size-img:65px;
        //     height: $size-img!important;
        //   width: $size-img!important;    
        //   }
        //   @media screen and (max-height: 481px) {
        //     $size-img:45px;
        //     height: $size-img!important;
        //   width: $size-img!important;    
        //   }
        // }
        .name-menu {
          font-weight: 500;
          margin-top: 6px;
        }
      }
    }
    .menu-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 4px 0px 14px 0;
      @media screen and (max-height: 668px) {
       padding: 0;
      }
      @media screen and (max-height: 668px) {
        height: 184px;
       }
       @media screen and (max-height: 569px) {
        height: 115px;
       }
      overflow: scroll;
      .menu-top {
        text-align: center;
        .bg-icon {
          width: 60px;
          height: 60px;
          border-radius: 20px;
          margin: 0 auto;
          color: var( --title-color);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--second-color);
          @media screen and (max-height: 668px) {
            width: 50px;
            height: 50px;
          }
        }
        // img{
           
        //   @media screen and (max-height: 569px) {
        //     $size-img:65px;
        //     height: $size-img!important;
        //   width: $size-img!important;    
        //   }
        //   @media screen and (max-height: 481px) {
        //     $size-img:45px;
        //     height: $size-img!important;
        //   width: $size-img!important;    
        //   }
        // }
        .name-menu {
          font-weight: 500;
          margin-top: 6px;
        }
      }
      // @media screen and (max-height: 737px) {
      //   height: 29vh!important;
      // }
      // @media screen and (max-height: 481px) {
      //   height: 29vh!important;
      // }
      // @media screen and (max-height: 668px) {
      //   height: 27vh!important;
      // }
      // @media screen and (max-height: 481px) {
      //   height: 25vh!important;
      // }
      ion-item-group {
        text-align: center;
        padding: 15px 5px;
        width: 121px;
        // @media screen and (max-height: 569px) {
        //   width: 133px!important;
        // }
        img{
          // height: $size-img;
          // width: $size-img;
          // @media screen and (max-height: 668px) {
          //   $size-img:70px;
          //   height: $size-img!important;
          // width: $size-img!important;    
          // }
          // @media screen and (max-height: 641px) {
          //   $size-img:45px;
          //   height: $size-img!important;
          // width: $size-img!important;    
          // }
          // @media screen and (max-height: 569px) {
          //   $size-img:40px;
          //   height: $size-img!important;
          // width: $size-img!important;    
          // }
          // @media screen and (max-height: 481px) {
          //   $size-img:25px;
          //   height: $size-img!important;
          // width: $size-img!important;    
          // }
        }
      }
    }
  }
  .vatican {
    &__list {
      display: flex;
      font-size: 1.6rem;
      overflow-x: auto;
      list-style: none;
      padding: 0;
      max-width: 100%;
      margin: 0 16px;
      .vatican__list-item {
        margin-right: 16px;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 16px;
        img {
          border-radius: 6px;
          width: 314px;
          height: 164px;
        }
        span {
          display: block;
          bottom: 4px;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
          padding: 0 6px;
          position: absolute;
          color: #fff;
          height: 47px;
          line-height: 23px;
          font-size: 16px;
          background-color: rgba(66, 66, 66, 0.5);
        }
      }
      // &-item {
      //    position: relative;
        
      //   // height: 198px;
      //   img {
      //     display: block;
      //     height: 100%;
      //     width: 100%;
      //     background-size: contain;
      //   }
      //   span {
      //     position: absolute;
      //     bottom: 0;
      //     background-color: rgba(66, 66, 66, 0.5);
      //     font-size: 16px;
      //     font-weight: 500;
      //     line-height: 20px;
      //     color: var(--white-color);
      //   }
      // }
      
    }
   
  }
}
