<!-- <ion-header class="ion-no-border">
  <ion-buttons class="user-container">
    <span *ngIf="name.length != '' ">Hi {{ name }}!</span>
    <ion-avatar class="main-box-shadow active-effect" (click)="goToUserInfo()">
      <img src="assets/icon/person.svg" alt="">
    </ion-avatar>
  </ion-buttons>
</ion-header> -->
<ion-content>
  <ion-item-group class="backgroup-header">
    <img class="img-bg" src="assets/img/bg-main.jpg">
    <ion-img class="icon-avatar" src="assets/img/avatar-account.svg">
    </ion-img>
    <ion-label class="name-user">
      Maria
    </ion-label>
  </ion-item-group>
  <ion-item-group class="home">
    <ion-item-group class="container-tong-gp">
      <ion-item-group class="menu-top">
        <img class="img-menu" src="assets/img/menu/tonggiaophan.svg" alt="" srcset="">
        <ion-label class="name-menu">
          (Tổng) Giáo phận
        </ion-label>
      </ion-item-group>

    </ion-item-group>
    <ion-item-group class="menu-list">
      <ion-item-group>
        <img src="assets/img/menu/news-menu.svg" alt="" srcset="">
        <ion-label class="name-menu">
          Tin tức Giáo xứ
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <img src="assets/img/menu/chitietgiole.svg" alt="" srcset="">
        <ion-label class="name-menu">
          Chi tiết giờ lễ
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <img src="assets/img/menu/lophocgiaoly.svg" alt="" srcset="">
        <ion-label class="name-menu">
          Lớp Học Giáo Lý
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <img src="assets/img/menu/donggop.svg" alt="" srcset="">
        <ion-label class="name-menu">
          Đóng góp
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <img src="assets/img/menu/xinle.svg" alt="" srcset="">
        <ion-label class="name-menu">
          Xin Lễ
        </ion-label>
      </ion-item-group>
      <ion-item-group>
        <img src="assets/img/menu/cuahang.svg" alt="" srcset="">
        <ion-label class="name-menu">
          Cửa Hàng
        </ion-label>
      </ion-item-group>
    </ion-item-group>
    
  </ion-item-group>

</ion-content>
<!-- <ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="chabad" selected>
      <ion-item-group>
        <img src="assets/icon/location.svg">
        <ion-label>Chabads</ion-label>
      </ion-item-group>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <ion-item-group>
        <img src="assets/icon/person.svg">
        <ion-label>Near you</ion-label>
      </ion-item-group>
    </ion-tab-button>

    <ion-tab-button tab="shopping">
      <ion-item-group>
        <img src="assets/icon/shop.svg">
        <ion-label>Shop</ion-label>
      </ion-item-group>
    </ion-tab-button>

    <ion-tab-button tab="event">
      <ion-item-group>
        <img src="assets/icon/fruit.svg">
        <ion-label>Event</ion-label>
      </ion-item-group>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->