$size-img:100px;

ion-content {
  .backgroup-header {
    position: relative;
    z-index: 5;
    .img-bg {
      object-fit: cover;
      
      // height: 40vh;
      width: 100%;
      
      @media screen and (max-height: 737px) {
        height: 35vh!important;
      }
      @media screen and (max-height: 569px) {
        height: 30vh!important;
      }
    }
    .icon-avatar {
      width: 60px;
      height: 60px;
      color: white;
      background: #fdfdfd;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      transform: translateY(30%);
      @media screen and (max-height: 481px) {
        height: 45px!important;
        width: 45px!important;
      }
      // transform: matrix(-1, 0, 0, 1, 0, 0);
      z-index: 10;
    }
    .name-user {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(200%);
      text-align: center;
      @media screen and (max-height: 481px) {
        transform: translateY(150%)!important;
      }
    }
  }
  .home {
    padding: 0 5px;
    margin-top: 5vh;
    .container-tong-gp {
      display: flex;
      justify-content: center;
      align-items: center;
      .menu-top {
        text-align: center;
        img{
          @media screen and (max-height: 569px) {
            $size-img:65px;
            height: $size-img!important;
          width: $size-img!important;    
          }
          @media screen and (max-height: 481px) {
            $size-img:45px;
            height: $size-img!important;
          width: $size-img!important;    
          }
        }
        .name-menu {
          text-align: center;
        }
      }
    }
    .menu-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px;
      ion-item-group {
        text-align: center;
        padding: 15px 5px;
        img{
          height: $size-img;
          width: $size-img;
          @media screen and (max-height: 668px) {
            $size-img:70px;
            height: $size-img!important;
          width: $size-img!important;    
          }
          @media screen and (max-height: 641px) {
            $size-img:45px;
            height: $size-img!important;
          width: $size-img!important;    
          }
          @media screen and (max-height: 569px) {
            $size-img:40px;
            height: $size-img!important;
          width: $size-img!important;    
          }
          @media screen and (max-height: 481px) {
            $size-img:25px;
            height: $size-img!important;
          width: $size-img!important;    
          }
          
        }
      }
    }
  }
}
