
<ion-header>
  <ion-item-group class="backgroup-header">
    <img class="img-bg" src="assets/img/giamphan.jpg">
   
  </ion-item-group>
</ion-header>
<ion-item-group class="main__avatar">
  <ion-img class="icon-avatar" src="assets/img/avatar-account.svg">
  </ion-img>
  <span class="name-user">
    Maria  Maria  Maria
  </span>
</ion-item-group>
<ion-content>
  <ion-item-group class="home">
    <ion-item-group class="container-tong-gp">
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/tonggiaophan.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          (Tổng) Giáo phận
        </ion-label>
      </ion-item-group>
    </ion-item-group>
    <ion-item-group class="menu-list">
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/tintuc.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          Tin tức Giáo xứ
        </ion-label>
      </ion-item-group>
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/chitietgiole.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          Chi tiết giờ lễ
        </ion-label>
      </ion-item-group>
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/lophocgiaoly.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          Lớp học Giáo lý
        </ion-label>
      </ion-item-group>
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/donggop.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          Đóng góp
        </ion-label>
      </ion-item-group>
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/xinle.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          Xin lễ
        </ion-label>
      </ion-item-group>
      <ion-item-group class="menu-top" (click)="routerLink('tonggiaophan')">
        <ion-item-group class="bg-icon">
          <img class="img-menu" src="assets/img/menu/cuahang.svg" alt="" srcset="">
        </ion-item-group>
        <ion-label class="name-menu">
          Cửa hàng
        </ion-label>
      </ion-item-group>
  </ion-item-group>
  </ion-item-group>
  <ion-label class="vatican__title">
    TIN TỨC VATICAN
  </ion-label>
  <ul class="vatican__list">
    <li class="vatican__list-item 1">
      <img src="assets/img/bgnew.jpg" alt="">
      <span>ĐTC Phanxicô cử hành 
        Thánh lễ Ngày Đời sống Thánh hiến</span>
    </li>
    <li class="vatican__list-item 2">
      <img src="assets/img/bgnew.jpg" alt="">
      <span>ĐTC Phanxicô cử hành 
        Thánh lễ Ngày Đời sống Thánh hiến</span>
    </li>
    <li class="vatican__list-item 3">
      <img src="assets/img/bgnew.jpg" alt="">
      <span>ĐTC Phanxicô cử hành 
        Thánh lễ Ngày Đời sống Thánh hiến</span>
    </li>
    <li class="vatican__list-item 4">
      <img src="assets/img/bgnew.jpg" alt="">
      <span>ĐTC Phanxicô cử hành 
        Thánh lễ Ngày Đời sống Thánh hiến</span>
    </li>
  </ul>
 
  <!-- <ion-item-group class="vatican" >
    <ion-label class="vatican__title">
      TIN TỨC VATICAN
    </ion-label>
    <ion-item-group class="vatican__list">
      <ion-item-group class="vatican__list-item">
       <img src="assets/img/vatican_new.jpg">
       <span>ĐTC Phanxicô cử hành 
        Thánh lễ Ngày Đời sống Thánh hiến</span>
      </ion-item-group>
    
     
    </ion-item-group>
  </ion-item-group> -->

</ion-content>

