ion-content {
  --background: #f3f3f3;
  --padding-top: 100px;
  --overflow: hidden;
}

.body-wrapper {
  height: calc(100% - 100px);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
  margin-top: 100px;

  .body {
    overflow: scroll;
    height: 100%;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  overflow: hidden;
  z-index: -1;
}
.absolute-center {
  top: 38%!important
}
.avatar-box {
  text-align: center;
  display: inline-block;
  width: 100px;
  margin-right: 16px;
  position: fixed;
  bottom: calc(100% - 200px + 16px);
  right: 0;

  .avatar {
    margin: 5px auto 7px;
    border: 1px solid #fff;
    box-shadow: 0 2px 2px rgba(#fff, .3);
    background: #fff;
  }

  .avatar-name {
    color: #002d63;
    font-size: 14px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
      1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}

.menu {
  background: #fff;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  .item-container {
    text-align: center;
    .item {
      width: 100px;
      margin: 8px;
      text-align: center;
      background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0));
      border-radius: 30px;
      border: 2px solid #f8f8f8;
      @media screen and (max-height: 823px) {
        width: 115px;
      }
      
      @media screen and (max-height: 812px) {
        width: 109px;
      }
      @media screen and (max-height: 667px) {
        width: 109px;
      }
      @media screen and (max-height: 667px) {
        width: 102px;
      }
      @media screen and (max-height: 569px) {
        width: 90px;
      }

      .img-container {
        width: 50px;
        height: 50px;
        background: #cc9d3e;
        border-radius: 27px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        justify-content: center;
        margin: 7px auto 5px;
        border: 1px solid #ffca5d;
      }

      .name {
        color: #424242;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        height: 30px;
        line-height: 17px;
        margin: 0 9px 4px;
        justify-content: center;
        align-items: center;
      }
    }

    &--full-width {
      width: 100%;
      .item {
        margin: 8px auto 2px;
        width: 122px;
        height: 115px;
        border-top-left-radius: 60px !important;
        border-top-right-radius: 60px !important;
        border-bottom-left-radius: 17px !important;
        border-bottom-right-radius: 17px !important;
        background: linear-gradient(#FFFFFF 40.63%, #F3F3F3 100%) !important;
        .name {
          margin: 10px 5px;
        }
      }
    }
  }
}

.news {
  padding: 16px;
  background: #f3f3f3;

  &__title {
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
  }

  &__content {
    overflow-x: auto;
    flex-wrap: nowrap;

    .main-news {
      position: relative;
      height: 40vw;
      border-radius: 8px;
      overflow: hidden;
      border-bottom: 1px solid #eeeeee;
      padding: 0;
      border: 1px solid #0000002b;

      &:not(:last-child) {
        margin-right: 10px;
      }

      .item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .text-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#424242, 0.5);
        padding: 10px 5px 5px;
        z-index: 1;
        color: #fff;

        .item-title {
          font-size: 14px;
          font-weight: 500;
          margin: 0;
          text-align: left;
        }
      }
    }
  }
}
