<ion-tabs select="main">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon src="assets/icon/tab/main.svg"></ion-icon>
      <ion-text>Trang chủ</ion-text>
    </ion-tab-button>
    
    <ion-tab-button tab="social">
      <ion-img></ion-img>
      <ion-icon src="assets/icon/tab/social.svg"></ion-icon>
      <ion-text>Cộng Đồng</ion-text>
    </ion-tab-button>
    
    <ion-tab-button tab="personal">
      <ion-icon src="assets/icon/tab/personal.svg"></ion-icon>
      <ion-text>Cá nhân</ion-text>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>