<<<<<<< HEAD

  ion-content {
    --overflow: hidden;
    --padding-top: 0;
    --background: var(--gray-color);
    --padding-top: 80px;
    .wrapper {
      overflow: scroll;
      @media screen and (max-height: 824px){
        max-height: 647px;
      }
      @media screen and (max-height: 812px){
        max-height: 631px;
      }
      @media screen and (max-height: 737px){
        height: 566px;
      }
      @media screen and (max-height: 668px){
        height: 496px;
      }
      @media screen and (max-height: 641px){
        height: 476px;
      }
      @media screen and (max-height: 569px){
        height: 400px;
      }
      @media screen and (max-height: 480px){
        height: 310px;
      }
=======
ion-content {
  --overflow: hidden;
  --padding-top: 0;
  --background: var(--gray-color);
  --padding-top: 80px;
  .wrapper {
    overflow: scroll;
    @media screen and (max-height: 824px) {
      max-height: 581px;
    }
    @media screen and (max-height: 812px) {
      max-height: 565px;
    }
    @media screen and (max-height: 737px) {
      height: 500px;
    }
    @media screen and (max-height: 668px) {
      height: 430px;
    }
    @media screen and (max-height: 641px) {
      height: 410px;
    }
    @media screen and (max-height: 569px) {
      height: 330px;
    }
    @media screen and (max-height: 480px) {
      height: 257px;
    }
>>>>>>> 846bed0f759329cd32149134bfb8a0d86ebb7aec
    .title {
      text-align: center;
      ion-label {
        margin: 0px auto;
        font-size: 24px;
        color: var(--title-color);
      }
      .header__name {
        color: #002d63;
        font-size: 18px;
      }
      .header__group-address {
        margin-bottom: 10px;
        justify-content: center;
        .header__address {
          text-decoration: underline;
          color: var(--gray-color8a);
        }
        .header__title-user {
          font-size: 16px;
          color: #424242;
        }
        img {
          border-radius: 0px !important;
          margin-right: 6px;
        }
      }
      .mr-top {
        margin-top: 10px;
      }
      .image {
        width: 100% !important;
        height: 216px !important;
      }
      .bg {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: 20px;
        height: 216px !important;
      }
      img {
        border-radius: 20px;
        margin-right: 0px !important;
      }
    }
    ion-spinner {
      position: absolute;
      left: 50%;
      z-index: 2;
      top: 50%;
    }
    ion-item-group {
      .img__header {
        height: 270px;
        width: 100%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        background-size: cover;
        box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
      }
    }
    .title__chabad {
      margin: 12px auto 0px auto;
      width: 264px;
      font-size: 20px;
      height: auto;
      font-weight: 600;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .group__donate {
      background: #f5f5f5;
      padding: 20px 16px 15px;
      border-radius: 30px;
      box-shadow: 0 4px 2px -2px rgb(180, 176, 176);
      .require {
        color: var(--main-color);
      }
      ion-item-group {
        margin: 16px 0;
        display: flex;
        align-items: center;
        position: relative;
        ion-img {
          width: 14px;
          height: 24px;
        }
        .vnd {
          // font-size: 13px;
          width: 40px;
          }
        .group__donate-pen--edit {
          position: absolute;
          background-color: var(--main-color);
          width: 13px;
          height: 13px;
          right: 4px;
          top: -4px;
          border-radius: 6px;
          color: #fff;
        }
        .group__donate-amount {
          margin: 0 5px 0 5px;
          padding: 0 10px;
          height: 30px;
          flex: 1;
          font-size: 13px;
          border-radius: 9px;
          outline: none;
          background-color: #f5f5f5;
          border: 1px solid #c8c8c8;
          @media screen and (max-height: 569px) {
            width: 73%;
          }
        }
      }
      .group__purpose {
        position: relative;
        color: #828282;
        display: block;
        border: 1px solid #c8c8c8;
        border-radius: 10px;

        .group__donate-pen--edit2 {
          position: absolute;
          background-color: var(--main-color);
          width: 13px;
          height: 13px;
          right: 0px;
          top: -4px;
          border-radius: 6px;
          color: #fff;
        }
        .group__purpose-label {
          padding: 5px 5px 0;
        }
        textarea {
          width: 99%;
          padding: 5px 5px;
          border: none;
          background: #f5f5f5;
          outline: none;
        }
      }
    }
<<<<<<< HEAD
   .donate__other {
    margin: 10px;
    color: #002D63;
    flex: 1;
    text-align: right;
    margin-left: auto;
    text-decoration: underline;
   }
=======
    .donate__other {
      margin: 10px;
      color: #002d63;
      width: 173px;
      margin-left: auto;
      text-decoration: underline;
    }
>>>>>>> 846bed0f759329cd32149134bfb8a0d86ebb7aec
  }
  .footer {
    padding-top: 6px;
    margin-bottom: 42px;
    ion-avatar {
<<<<<<< HEAD
      height: 40px;
     img {
       width: 40px;
       height: 40px;
     }
=======
      position: relative;
      height: 65px;
      width: 104px;
      img {
        transform: translateX(-50%);
        margin-left: 50%;
        width: 65px;
        height: 65px;
      }
>>>>>>> 846bed0f759329cd32149134bfb8a0d86ebb7aec
    }
    ion-item-group {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
       width: 97px;
       height: 40px;
       display: flex;
       align-items: center;
      }
    }
<<<<<<< HEAD
   ion-button {
    width: 140px;
    margin: 0;
    font-size: 17px;
    height: 32px;
    line-height: 21px;
    --border-radius: 12px;
    --background: var(--main-color);
=======
    ion-button {
      width: 150px;
      margin: 0;
      font-size: 17px;
      height: 32px;
      line-height: 21px;
      --border-radius: 12px;
      --background: var(--main-color);
>>>>>>> 846bed0f759329cd32149134bfb8a0d86ebb7aec
    }
  }
}
