<ion-header>
  <app-header [headerCustom]="headerCustom"></app-header>
</ion-header>

<ion-content>
  <ion-item-group class="info-app">
    <h3 class="title-text"> Ứng dụng Công giáo VN</h3>
    <ion-list>
      <ion-item lines=none>
        <ion-avatar slot="start">
          <img src="assets/img/info-app/icon-1.png">
        </ion-avatar>
        <ion-label text-wrap>Công giáo VN là một ứng dụng di động giúp
          người dùng - các tín đồ tôn giáo có thể
          tiếp cận dễ dàng với các thông tin của
          Giáo hội, Giáo phận và Giáo xứ.
        </ion-label>
      </ion-item>
      <ion-item lines=none>
        <ion-avatar slot="start">
          <img src="assets/img/info-app/icon-phone.png">
        </ion-avatar>
        <ion-label text-wrap>Giao diện hiện đại, thân thiện,
          dễ sử dụng, phù hợp với mọi lứa tuổi.
        </ion-label>
      </ion-item>
      <ion-item lines=none>
        <ion-avatar slot="start">
          <img src="assets/img/info-app/icon-box.png">
        </ion-avatar>
        <ion-label text-wrap>Ứng dụng có các chức năng cần thiết
          mang lại nhiều tiện ích cho người dùng.
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-group class="info-company">
    <h3 class="title-text">PATITEK</h3>
    <p>
      PATITEK là công ty phần mềm chuyên cung cấp dịch vụ và sản phẩm số ở các nền tảng di động và web.
    </p>
    <p>
      Với trình độ chuyên biệt và đội ngũ kỹ thuật cao, Chúng tôi luôn cung cấp cho khách hàng giải pháp sáng tạo và tối
      ưu.
    </p>
 
    <p>
      Việc này không những giảm chi phí phát triển,
      triển khai mà chất lượng của sản phẩm và dịch vụ luôn luôn được đảm bảo tốt nhất.
    </p>
  </ion-item-group>
  
</ion-content>
<ion-footer class="ion-no-border">
<p class="version">
  Phiên bản 1.0
</p>
</ion-footer>