.nav-bar {
  justify-content: space-between;
  color: #cacaca;
  height: 45px;
  background: #fff;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 16px;

  .menu-icon {
    font-size: 45px;
  }

  .search-icon {
    font-size: 27px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  ion-searchbar {
    --background: #fff;
    --icon-color: #cacaca;
    --placeholder-color: #cacaca;
    --placeholder-opacity: 1;
    --color: #6c6c6c;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    height: 32px;
    width: 0;
    max-width: calc(100vw - 110px);
    padding: 0 5px;
    transition: 0.3s;
    opacity: 0;
  }

  .visible-search-bar {
    width: 270px;
    opacity: 1;
  }
}