  <ion-header>
    <app-header [headerCustom]="headerCustom"></app-header>
  </ion-header>
<ion-content>
  <div class="news">
    <ion-row class="news__content">
      <ion-col class="main-news active-effect" size="8" *ngFor="let item of news" (click)="goToNewsDetail(item)">
        <img class="item-img" [src]="item.thumb_image.url">
        <ion-buttons class="text-box">
          <p class="item-title three-dots-2">{{ item.name }}</p>
        </ion-buttons>
      </ion-col>
    </ion-row>
</div>
<ion-segment value="intro">
  <ion-segment-button value="intro" class="intro"(click)="changeTabs()" >
    <ion-label>Giới thiệu Giáo xứ</ion-label>
  </ion-segment-button>
  <ion-segment-button value="biography" class="biography" (click)="changeTabs()">
    <ion-label>Tiểu sử các Linh Mục</ion-label>
  </ion-segment-button>
</ion-segment>
  <ion-item-group class="segement-news ion-padding" *ngIf="tabNew">
      <ion-label> {{myData.myParish_title}}</ion-label>
      <div [style.background] = "getUrl()" class="bg"></div>
      <span [innerHTML] = "myData.myParish_info">
      </span>
    </ion-item-group >
    <ion-item-group class="home" *ngIf="!tabNew">
      <ion-item-group class="list-item">
        <ion-item-group *ngFor='let in of counter(5)' class="item-stories" (click)="goToStoryDetail()">
          <img src="assets/img/stories/anh1.svg" alt="">
          <ion-item-group class="stories-info">
            <ion-label text-wrap class="stories-title">FRANCISCUS, S.J.
              Giáo hoàng Phanxicô</ion-label>
            <p class="stories-content three-dots-5">
              - Lên ngôi ngày 13 tháng 3
              năm 2013 đến nay.
              - Người Mỹ La Tinh, Nam Mỹ,
              Argentina và tu sĩ Dòng Tên
              đầu tiên làm Giáo hoàng ... </p>
          </ion-item-group>

        </ion-item-group>
      </ion-item-group>
    </ion-item-group>
</ion-content>
