
<ion-icon class="icon-close" (click)="closeModal()" name="close-outline"></ion-icon>
<ion-item-group class="list-menu">
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
  <ion-label>
    HỘI THÁNH
  </ion-label>
</ion-item-group>