ion-content {
  --padding-top: 80px;
  --padding-start: 20px;
  --padding-end: 20px;
}

.back-btn-custom {
  color: #c8c8c8;
}

.header {
  height: 80px;
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9;
  top: 0;
}

.box {
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.heading-box {
  margin-bottom: 6px;
  color: #805c00;
  font-size: 18px;
  text-align: center;
}

ion-slides {
  height: 70vw;
  --bullet-background-active: #DEDEDE;
  --bullet-background: #bcbcbc;

  ion-slide {
    height: calc(100% - 35px);
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    .item-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .item-title {
      color: #525252;
      font-size: 16px;
      font-weight: 600;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.582353) 46.35%,
        rgba(255, 255, 255, 0.8) 70.83%,
        #ffffff 100%
      );
      opacity: 0.8;
      margin: 0;
      padding: 19px 5px 5px;
      text-align: left;
    }
  }
}

.see-more-box {
  color: #002D63;
  font-size: 14px;
  font-weight: 300;
  text-align: right;

  ion-label {
    display: inline-block;
  }
}