.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  background: var(--gray-color);
 ion-label {
    margin: 0px auto;
    font-size: 24px;
    color: var(--title-color);
  }
}
.back-btn {
  height: auto;
  width: auto;
  top: 40px!important;
  color: #C8C8C8;
  background-color: #E5E5E5;
}
  ion-content {
    --overflow: hidden;
    --background: var(--gray-color);
    .wrapper {
      overflow: scroll;
      @media screen and (max-height: 737px){
        height: 500px;
      }
      @media screen and (max-height: 668px){
        height: 438px;
      }
      @media screen and (max-height: 641px){
        height: 410px;
      }
      @media screen and (max-height: 569px){
        height: 338px;
      }
      @media screen and (max-height: 480px){
        height: 268px;
      }
    
    .title {
      text-align: center;
     ion-label {
        margin: 0px auto;
        font-size: 24px;
        color: var(--title-color);
      }
      .header__name {
        color: #002D63;
        font-size: 18px;
      }
      .header__group-address {
        margin-bottom: 10px;
        justify-content: center;
        .header__address {
          color: var(--gray-color8a);
        }
        .header__title-user {
          font-size: 16px;
          color: #424242;
        }
        img {
          border-radius: 0px !important;
          margin-right: 6px;
        }
      }
      img {
        border-radius: 20px;
        margin-right: 0px !important;
      }
    }
    ion-spinner {
      position: absolute;
      left: 50%;
      z-index: 2;
      top: 50%;
    }
    ion-item-group {
      .img__header {
          height: 270px;
          width: 100%;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px;
          background-size: cover;
          box-shadow: 0 0 6px 4px rgba(0,0,0, 0.2);
      }
    }
    .title__chabad {
      margin: 12px auto 0px auto;
      width: 264px;
      font-size: 20px;
      height: auto;
      font-weight: 600;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .group__donate {
      background: #F5F5F5;
      padding: 26px 16px 15px;
      border-radius: 30px;
      box-shadow: 0 4px 2px -2px rgb(180, 176, 176);
      .require {
        color: var(--main-color);
      }
      ion-item-group{
        margin: 16px 0;
        display: flex;
        align-items: center;
        position: relative;
        ion-img {
          width: 14px;
          height: 24px;
        }
        .group__donate-pen--edit {
          position: absolute;
          background-color: var(--main-color);
          width: 13px;
          height: 13px;
          left: 126px;
          top: -4px;
          border-radius: 6px;
        }
        .group__donate-amount {
          margin: 0 10px;
          padding: 0 10px;
          max-width: 115px;
          height: 30px;
          border-radius: 9px;
          outline: none;
          background-color: #f5f5f5;
          border: 1px solid #C8C8C8;
        }
      }
      .group__purpose {
        position: relative;
        color: #828282;
        display: block;
        border: 1px solid #C8C8C8;
        border-radius: 10px;
      .group__donate-pen--edit2 {
        position: absolute;
        background-color: var(--main-color);
        width: 13px;
        height: 13px;
        right: 0px;
        top: -4px;
        border-radius: 6px;
      }
      .group__purpose-label {
        padding: 5px 5px 0;
      }
      textarea {
        width: 99%;
        padding: 5px 5px;
        border: none;
        background: #f5f5f5;
        outline: none;
      }
      }
    }
   .donate__other {
    display: flex;
    justify-content: flex-end;
     margin: 10px;
     color: #002D63;
     text-decoration: underline;
   }
  }
   .footer {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     ion-item-group {
      ion-img {
        width: 80px;
        height: 80px;
      }
     }
    ion-button {
      font-size: 18px;
      width: 168px;
      height: 39px;
      line-height: 21px;
      --border-radius: 15px;
      --background: var(--main-color);
     }
   }
}


