ion-content {
    --padding-top: 80px;
    position: relative;
    --overflow: scroll;
    ion-segment {
        padding-top: 15px;
        --background: #fff;
        box-shadow: 0px 3px 5px rgb(0 0 0 / 25%);
        ion-segment-button {
          --background: white;
          --color: #bbbbbb;
          --background-checked: var(--main-color)!important;
          --indicator-box-shadow: inset 3px 4px 4px #d2a635;
          --color-checked: white;
          --indicator-color : transparent!important; 
          height: 30px;
          font-weight: 500;
          text-transform: none;
          border: 2px solid var(--white-color);
          width: 50%;
          font-size: 14px;
        }
        .intro {
            box-shadow: inset 3px 4px 4px #f4f5f8;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-right: none;
        }
        .biography {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: none;
            box-shadow: inset 3px 4px 4px #f5f5f5;
        }
      }
      ion-item-group {
        display: block;
        text-align: center;
        .bg {
            background-repeat: no-repeat !important;
            background-size: cover !important;
            // border-radius: 20px;
            height: 216px !important;
            margin-bottom: 14px;
          }
        ion-label {
            font-size: 16px;
            margin-bottom: 5px;
            color: #002D63;
            font-weight: 500;
          }
          span {
              display: flex;
              text-align: left;
              color: #828282;
          }
      }
      .home {
        padding: 12px 16px;
        .list-item{
            .item-stories{
                display: flex;
                padding: 16px 0;
                background: #fafafa;
                margin-bottom: 15px;
                overflow: scroll;
                border-radius: 10px;
                border-bottom: 2px solid #EEEEEE;
                img{
                    object-fit: cover;
                    padding-left: 10px;
                    height: 100px;
                    @media screen and (max-height: 569px) {
                        flex-basis: 33%;
                    }
                }
                .stories-info{
                    text-align: left;
                    padding-left: 10px;
                    @media screen and (max-height: 569px) {
                        flex-basis: 67%;
                    }
                    .stories-title{
                        color: #002D63;
                        font-size: 16px;
                        font-weight: 500;
                        @media screen and (max-height: 569px) {
                            font-size: 14px!important;
                        }
                    }
                    .stories-content{
                        margin: 0;
                        color: #525252;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
