<app-header  [headerCustom]="headerCustom"></app-header>

<ion-content>
  <div class="post" *ngFor="let post of posts">
    <div class="author">
      <img class="avatar" [src]="post.owner.thumb_image"/>
      <div class="text">
        <ion-text class="username">{{post.owner.full_name}}</ion-text>
        <ion-text class="datetime">
          <img src="assets/icon/time.svg"/>
          {{post.posted_at}}</ion-text>
      </div>
    </div>
    <div class="content">
      <ion-text>{{post.content}}</ion-text>
      <br/>
      <ion-text (click)="showAll()" class="show-all">{{showfullcontenttext}}</ion-text>
    </div>
    <ion-img class="image" *ngIf="post.photos.length > 0" [src]="post.photo[0]"></ion-img>
    <div class="button">
      <div class="like-button">
        <div class="name-icon" (click)="like(post.id)">
          <img src="../../assets/icon/like.svg" *ngIf="!post.liked"/>
          <img src="../../assets/icon/liked.svg" *ngIf="post.liked"/>
          
          <ion-text>Thích</ion-text>
        </div>
        <ion-text class="sub-text">{{post.likes_count}} lượt thích</ion-text>
      </div>
      
      <div class="like-button">
        <div class="name-icon" (click)="comment(post.id)">
          <img src="../../assets/icon/comment.svg"/>
          <ion-text>Bình luận</ion-text>
        </div>
        <ion-text class="sub-text">{{post.comments_count}} Bình luận</ion-text>
      </div>
    </div>
    <div class="allcomment">
      <ion-text class="subtext" (click)="showcomment()">Xem thêm các bình luận trước...</ion-text>
      <div class="comment" *ngFor="let comment of post.comments">
        <img class="avatar" [src]="comment.avatar"/>
        <div class="text">
          <ion-text class="username">{{comment.username}}</ion-text>
          <ion-text class="ion-no-margin content">{{comment.content}}</ion-text>
          <div class="time-and-reply">
            <ion-text class="time">{{comment.time}}</ion-text>
            <ion-text>trả lời</ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>  
</ion-content>
<ion-footer>
  <ion-toolbar class="tool" *ngIf="clickComment">
    <ion-row>
      <ion-input placeholder="Nhập bình luận..." [NgModel]="commentContent"></ion-input>
      <ion-img src="../../assets/icon/send.svg" (click)="sendComment()"></ion-img>
    </ion-row>
  </ion-toolbar>
</ion-footer>