ion-content {
    --overflow: hidden;
    --background: #fbfbfb;
    .text-title {
        text-align: center;
        font-size: 24px;
        color: #805c00;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(100%);
    }
    .home {
        margin-top: 10vh;
        padding: 0 20px;
        text-align: center;
        align-items: center;
        @media screen and (max-height: 481px) {
            margin-top: 12vh!important;
        }
        .content-search {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ion-searchbar {
                flex-basis: 80%;
                --border-radius: 5px;
                --icon-color: #cacaca;
                --color: #cacaca;
                padding: 0;
                // margin: 10px auto 10px;
                height: 25px;

                animation: mymove 1s;
            }
            .icon-bars {
                flex-basis: 20%;
                width: 40px;
                height: 40px;
                color: #c4c4c4;
                transform: translateX(-20%);
            }
        }
        .title-home{
            text-align: center;
            color: #002D63;
            font-size: 22px;
            font-weight: 700;
            line-height: 22px;
            padding: 0 50px;
        }
        img{
            margin-top: 10px;
            text-align: center;
            @media screen and (max-height: 641px) {
                height: 35vh!important;
            }
        }
        .content{
            height: 50vh;
            overflow: scroll;
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            @media screen and (max-height: 641px) {
                height: 36vh!important;
            }
            @media screen and (max-height: 481px) {
                height: 24vh!important;
            }
            @media screen and (max-height: 737px) {
                height: 35vh!important;
            }
            @media screen and (max-height: 569px) {
                height: 30vh!important;
            }
        }
    }
}

.back-btn-custom {
    color: #c8c8c8;
}
@keyframes mymove {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
