ion-content {
    --overflow: auto;

    ion-buttons {
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 30px;
        ion-label {
            justify-content: center;
            display: block;
            margin: auto;
        }
    }
    ion-buttons:first-child {
        margin-top: 140px;
    }
    ion-img {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 50px;
    }
}